.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-image: url(../../img/harry_potter.jpg);
  background-size: cover;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}
