.Footer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.Footer__button {
  font-size: large;
  border: 5px transparent;
  border-radius: 27px;
}

.FooterButtonActive {
  background-color: grey;
}

.red {
  background-color: #7f0909;
}

.blue {
  background-color: #000a90;
}

.yellow {
  background-color: #eee117;
}

.green {
  background-color: #0d6217;
}
